<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${article.title}">Статья</h1>
    <h5 th:text='${"Предмет: "+article.subject.name}'>Предмет</h5>
    <hr/>
<!--    <div class="content" th:text="${article.content}">Содержание статьи</div>-->
    <a th:href='${article.content}'>Перейти к источнику</a>
</div>
</body>
</html>