<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${appName}" style="color: green">Default app name</h1>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <a href="/article/new">Добавить статью</a>
    <form method="post" action="filter">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="text" name="filter"/>
        <button type="submit">Найти</button>
    </form>
    <hr/>
    <div class="content">
        <div class="row article" th:each="article : ${articles}" >
            <div class="col-md-10 col-md-offset-1" th:id="${article.id}">
                <h3 th:text="${article.title}">Статья</h3>
                <p th:text="${article.subject.name}">Предмет</p>
<!--                <a th:href=${"/article?id="+article.id}>Перейти на страницу статьи</a>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>