<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Junior Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <h1 th:text="${appName}" style="color: green">Default app name</h1>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти"/>
        </form>
    </div>
    <a href="/article/new">Добавить статью</a>
    <a href="/subjects">Посмотреть список предметов</a>
    <a href="/articles">Посмотреть список статей</a>
    <h5 style="color: green">Поиск по предмету</h5>
    <form method="post" action="filter">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="text" name="filter"/>
        <button type="submit">Найти</button>
    </form>
    <h5 style="color: green">Поиск по тэгам</h5>
    <form method="post" action="filterByTags">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="text" name="filterByTags"/>
        <button type="submit">Найти</button>
    </form>
    <hr/>
    <div class="content">
        <div class="row article" th:each="article : ${articles}" >
            <div class="col-md-10 col-md-offset-1" th:id="${article.id}">
                <h3 th:text='${article.title}'>Статья</h3>
                <h5 th:text='${"Предмет: "+article.subject.name}'>Предмет</h5>
                <div class="row article" th:each="tag : ${article.tags}" >
                    <p th:text='${tag.name}'>тэг</p>
                </div>
                <a th:href='${"/article/"+article.id}'>Перейти на страницу статьи</a>
                <br/>
                <a th:href=${"/article/"+article.id+"/delete"}>Удалить статью</a>
                <hr/>
            </div>
        </div>
    </div>
</div>
</body>
</html>